@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optionnel : On force le fond sombre par défaut pour éviter le flash blanc */
body {
  background-color: #020617; /* slate-950 */
  color: #f1f5f9; /* slate-100 */
}